.card {
  height: 550px;
  width: 350px;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(227, 227, 227, 0.482) 0px 3px 8px;
  transition: height 0.3s, width 0.3s;
  margin: 50px 0px;
  padding: 20px;
}
.card:hover {
  height: 555px;
  width: 355px;
  -webkit-box-shadow: 0px 0px 118px 0px rgba(199, 112, 240, 0.47);
  -moz-box-shadow: 0px 0px 118px 0px rgba(199, 112, 240, 0.47);
  box-shadow: 0px 0px 118px 0px rgba(199, 112, 240, 0.47);
}
.cardimg {
  /* background-image: url('https://blog-frontend.envato.com/cdn-cgi/image/width=2560,quality=75,format=auto/uploads/sites/2/2022/04/E-commerce-App-JPG-File-scaled.jpg'); */
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cardtitle {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.cardcontent {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  font-size: 15px;
  text-align: justify;
  /* border: 1px solid red; */
  padding: 15px;
}
.cardbtn {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
}
.cardimg {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.giturl {
  text-decoration: none;
}
@media screen and (max-width: 370px) {
  .card {
    height: 500px;
    width: 300px;
    margin: 30px 0;


  }
  .cardimg {
    height: 250px;
    width: 250px;
  }
  .cardtitle {
    font-size:18px;
  }
  .card:hover {
    height: 525px;
    width: 325px;
    -webkit-box-shadow: 0px 0px 118px 0px rgba(199, 112, 240, 0.47);
    -moz-box-shadow: 0px 0px 118px 0px rgba(199, 112, 240, 0.47);
    box-shadow: 0px 0px 118px 0px rgba(199, 112, 240, 0.47);
  }
}
@media (min-width: 370px) and (max-width:500px) {
    .texttitle{
        text-align: center;
        font-size: 40px;
    }
    
}
@media (min-width: 1050px) and (max-width: 1184px) {
    .texttitle{
        text-align: center;
    }
    .card {
        height: 500px;
        width: 300px;
        margin: 30px 0;
      }
      .cardimg {
        height: 250px;
        width: 250px;
      }
      .cardtitle {
        font-size:18px;
      }
      .cardcontent{
        font-size: 14px;
      }
      
}